// Import page-specific CSS files here.
@import "home";


.container-banner{
  padding-top: 20px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  height:800px;
}

.banner h1 {
  margin: 40px;
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.banner p {
  margin: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body{
  background: #000;
  font-family: 'Open Sans', sans-serif;
}

.neonshadow{
    color: #FFFFFF;
    text-shadow:
    0 0 5px #FFFFFF,
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 40px #FF00DE,
    0 0 80px #FF00DE,
    0 0 90px #FF00DE,
    0 0 100px #FF00DE,
    0 0 150px #FF00DE;
}

h1.red{
   color: #FFFFFF;
    text-shadow:
    0 0 5px #FFFFFF,
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 40px #FF00DE,
    0 0 80px #FF00DE,
    0 0 90px #FF00DE,
    0 0 100px #FF00DE,
    0 0 150px #FF00DE;
}
